*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
.DS_Store
.build/
.classpath
.gradle/
.idea/
.project
.rubygems/
.settings
.swiftpm/
.vscode/
Carthage/
DittoApp-ios/Config.xcconfig
DittoApp-ios/DittoApp-ios/Config.xcconfig
Pods/
bin/
build/
gradlew.bat
target/
xcuserdata
