*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
.DS_Store
.build/
.classpath
.env
.gradle/
.idea/
.project
.rubygems/
.settings
.swiftpm/
.vscode/
Carthage/
Config.xcconfig
Debug/
Pods/
Resource.designer.cs
UserPrefs.xml
bin/
build/
gradlew.bat
obj/
target/
xcuserdata
